<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo Practico 2021-1</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="height: 7.5%;">
        <div class="container headerContainer">
            <div class="navbar-header">
                <img id="logo" src="~/Content/images/Logo 2.png" class="headerImg" alt="Tp Grupo 6" />
            </div>
            <div class="navbar-header-right">
                <a href="@Url.Action("PagosySeguridad", "Home")" class="btn-navbar">Seguridad y pagos</a>
            </div>
            <div class="navbar-header-right">
                <a href="@Url.Action("ModeloDeNegocios", "Home")" class="btn-navbar">Nuestro Modelo</a>
            </div>
            <div class="navbar-header-right">
                <a href="@Url.Action("ModeloDeNegocios", "Home")" class="btn-navbar">KPIs</a>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script type="text/javascript">
    $('#banderas').hide();
    $('#dividerRapipago').hide();
    $('#divRapipago').hide();
    $('#dividerPagoFacil').hide();
    $('#divPagoFacil').hide();

    $('#logo').click(function (e) {
        $.ajax({
            url: '/Home/Index',
            type: 'post'
        })
    }); 

    $('#Propuesta').click(function (e) {
        var win = window.open('/Content/images/Canvas.png', '_blank');
        win.focus;
    })

    $('#cards').click(function (e) {
        if ($('#banderas').is(":hidden")) {
            $('#banderas').show(200);
        } else {
            $('#banderas').hide(200);
        }
    })

    $('#rapipago').click(function (e) {
        if ($('#dividerRapipago').is(":hidden")) {
            $('#dividerPagoFacil').hide();
            $('#divPagoFacil').hide();
            $('#dividerRapipago').show();
            $('#divRapipago').show()
        } else {
            $('#dividerRapipago').hide();
            $('#divRapipago').hide();
        }
    })

    $('#PagoFacil').click(function (e) {
        if ($('#dividerPagoFacil').is(":hidden")) {
            $('#dividerRapipago').hide();
            $('#divRapipago').hide();
            $('#dividerPagoFacil').show();
            $('#divPagoFacil').show()
        } else {
            $('#dividerPagoFacil').hide();
            $('#divPagoFacil').hide();
        }
    })
</script>
