<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo Practico 2021-1</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="height: 7.5%;">
        <div class="container headerContainer">
            <div class="navbar-header">
                <img id="logo" src="~/Content/images/Logo 2.png" class="headerImg" alt="Tp Grupo 6" />
            </div>
            <div class="navbar-header-right">
                <a href="@Url.Action("Privacidad", "Home")" class="btn-navbar">Privacidad</a>
            </div>
            <div class="navbar-header-right">
                <a href="@Url.Action("Plataformas", "Home")" class="btn-navbar">Plataformas</a>
            </div>
            <div class="navbar-header-right">
                <a href="@Url.Action("Community", "Home")" class="btn-navbar">Community</a>
            </div>
            <div class="navbar-header-right">
                <a href="@Url.Action("KPIs", "Home")" class="btn-navbar">KPIs</a>
            </div>
            <div class="navbar-header-right">
                <a href="@Url.Action("PagosySeguridad", "Home")" class="btn-navbar">Seguridad y pagos</a>
            </div>
            <div class="navbar-header-right">
                <a href="@Url.Action("ModeloDeNegocios", "Home")" class="btn-navbar">Nuestro Modelo</a>
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script type="text/javascript">
    $('#banderas').hide();
    $('#dividerRapipago').hide();
    $('#divRapipago').hide();
    $('#dividerPagoFacil').hide();
    $('#divPagoFacil').hide();
    $('#jokeDivider1').hide();
    $('#jokeDiv2').hide();
    $('#jokeDiv').hide();

    $('#logo').click(function (e) {
        var win = window.open('/Home/Index', '_self');
    }); 

    $('#Propuesta').click(function (e) {
        var win = window.open('https://miro.com/app/board/o9J_lMJQoCo=/', '_blank');
        win.focus;
    })

    $('#btn-Rapipago').click(function (e) {
        var win = window.open('/Content/images/BoletaRapipago.png', '_blank');
        win.focus;
    })

    $('#btn-PagoFacil').click(function (e) {
        var win = window.open('/Content/images/BoletaPagoFacil.png', '_blank');
        win.focus;
    })

    $('#title1').click(function (e) {
        $('html, body').animate({
            scrollTop: $("#div1").offset().top - 80
        }, 2000);
    })

    $('#title2').click(function (e) {
        $('html, body').animate({
            scrollTop: $("#div2").offset().top - 80
        }, 2000);
    })

    $('#title3').click(function (e) {
        $('html, body').animate({
            scrollTop: $("#div3").offset().top - 80
        }, 2000);
    })

    $('#title4').click(function (e) {
        $('html, body').animate({
            scrollTop: $("#div4").offset().top - 80
        }, 2000);
    })

    $('#title5').click(function (e) {
        $('html, body').animate({
            scrollTop: $("#div5").offset().top - 80
        }, 2000);
    })

    $('#title6').click(function (e) {
        $('html, body').animate({
            scrollTop: $("#div6").offset().top - 80
        }, 2000);
    })

    $('#title7').click(function (e) {
        $('html, body').animate({
            scrollTop: $("#div7").offset().top - 80
        }, 2000);
    })

    $('#title8').click(function (e) {
        $('html, body').animate({
            scrollTop: $("#div8").offset().top - 80
        }, 2000);
    })

    $('#instagram').click(function (e) {
        var win = window.open('https://www.instagram.com/spotify/', '_blank');
        win.focus;
    })

    $('#twitter').click(function (e) {
        var win = window.open('https://twitter.com/spotify', '_blank');
        win.focus;
    })

    $('#facebook').click(function (e) {
        var win = window.open('https://www.facebook.com/Spotify', '_blank');
        win.focus;
    })

    $('#appstore').click(function (e) {
        var win = window.open('https://apps.apple.com/ar/app/spotify-m%C3%BAsica-y-podcasts/id324684580', '_blank');
        win.focus;
    })

    $('#googleplay').click(function (e) {
        var win = window.open('https://play.google.com/store/apps/details?id=com.spotify.music&hl=es_AR&gl=US', '_blank');
            win.focus;
    })

    $('#playstation').click(function (e) {
        var win = window.open('https://manuals.playstation.net/document/es/ps4/music/music.html', '_blank');
        win.focus;
    })

    $('#windows').click(function (e) {
        var win = window.open('https://www.microsoft.com/es-ar/p/spotify-music/9ncbcszsjrsb#activetab=pivot:overviewtab', '_blank');
        win.focus;
    })

    $('#docs').click(function (e) {
        var win = window.open('https://support.spotify.com/us/article/search/', '_blank');
        win.focus;
    })

    $('#cards').click(function (e) {
        if ($('#banderas').is(":hidden")) {
            $('#banderas').show(200);
        } else {
            $('#banderas').hide(200);
        }
    })

    $('#rapipago').click(function (e) {
        if ($('#dividerRapipago').is(":hidden")) {
            $('#dividerPagoFacil').hide();
            $('#divPagoFacil').hide();
            $('#dividerRapipago').show();
            $('#divRapipago').show()
        } else {
            $('#dividerRapipago').hide();
            $('#divRapipago').hide();
        }
    })

    $('#PagoFacil').click(function (e) {
        if ($('#dividerPagoFacil').is(":hidden")) {
            $('#dividerRapipago').hide();
            $('#divRapipago').hide();
            $('#dividerPagoFacil').show();
            $('#divPagoFacil').show()
        } else {
            $('#dividerPagoFacil').hide();
            $('#divPagoFacil').hide();
        }
    })

    $('#Analytics').click(function (e) {
        if ($('#jokeDivider1').is(":hidden")) {
            $('#jokeDivider1').slideUp(300).delay(800).fadeIn(400);
            $('#jokeDiv').slideUp(300).delay(800).fadeIn(400);
            $("html, body").animate({ scrollTop: $(document).height() }, 1000);
            setTimeout(
                function () {
                    $('#jokeDiv').hide().fadeOut(400);
                    $('#jokeDiv2').show().fadeIn(200);
                }, 5000)

        }
    })
</script>
